body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(128, 153, 229);

}

@font-face {
    font-family: 'LoveDays';
    src: url('Atop.ttf');
}

.main{
    width: 100%;
    font-family: LoveDays;
    
}

.navbar{
    width: 100%;
    height: 150px;
    margin: auto;
    background-color: rgb(215, 221, 248);
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    padding-top: 2px;
    padding-left: 20px;
    float: left;
}

#home_logo{
    float: left;
    text-align: center;
    margin: 0 15px 0 0;
}

#home_text{
    align-self: flex;
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: none;
    color: rgb(58, 116, 169);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold; 
    font-size: 25px;
    font-family: LoveDays;
}

h3{
    text-align: center;
    text-decoration: none;
    color: rgb(58, 116, 169);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold; 
    font-size: 25px;
    font-family: LoveDays;
}

.bait{
    float: right;
    display: flex;
    margin-top: 10px;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(58, 116, 169);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold;
    font-size: 19px;
}

.baitBucket img{
    float: right;
    margin-top: 3%;
    margin-right: -5.5%;
}

@keyframes fishJiggle{
    0% {transform: translate(0, 0) rotate(0deg);}
    25% {transform: translate(5px, 5px) rotate(5deg);}
    50% {transform: translate(0, 0) rotate(0deg);}
    75% {transform: translate(-5px, 5px) rotate(-5deg);}
    100% {transform: translate(0, 0) rotate(0deg);}
}

@keyframes gentleRock{
    0% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}

/* TABS */
.tab{
    overflow: hidden;
}

.tabcontent{
    display: none;
    height: auto;
    width: 1200px;
    position: relative;
    margin: auto;
    margin-top: 8%;
    padding: 10px 12px;
    border: 3px transparent;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 50px;
    font-size: 25px;
}

ul li a{
    text-decoration: none;
    color: rgb(58, 116, 169);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color: rgb(89, 91, 94);
    font-size: 27px;
}

/* TODO TAB */

* {
    box-sizing: border-box;
}

ul1 {
    margin: 10px;
    padding: 0px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

ul1 li1{
    cursor: pointer;
    position: relative;
    padding: 12px 12px 12px 40px;
    list-style-type: none;
    background: #caedff;
    color: #0a184d;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul1 li1:nth-child(odd) {
    background: #caedff;
    color: #475db6;
    margin-bottom: 10px;
}


ul1 li1:hover {
    background: #cad5ff;
}

ul1 li1.checked {
    background: #91a4f2;
    color: #fff;
    text-decoration: line-through;
}

ul1 li1.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    float: right;
    position: relative;
    right: 0px;
    top: 0px;
    padding: 10px 14px 10px 14px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}
input {
    margin: 0;
    border: none;
    border-radius: 8px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.addBtn {
    padding: 10px;
    width: 25%;
    background: #c6cff4;
    color: #1e2b60;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}
.addBtn:hover {
    background-color: #bbb;
}

/* GACHA IMAGES */
.gacha {
    position: relative;
    top: 0;
    left: 0;
}

.fishing_img {
    margin: 0 auto;
    margin-top: -5%;
    position: bottom;
    display: block;
    max-width: 100%;
}

.boat_img {
    position: absolute;
    margin-top: 5%;
    top: 10px;
    left: 30px;
}
#gacha_box {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

#gacha_buttonx1{
    margin: auto;
    padding: 10px;
    width: 25%;
    background: #c6cff4;
    color: #1e2b60;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    color: rgb(27, 58, 87);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold;
    font-family: LoveDays;
    transition: 0.3s ease-in-out;
}
#gacha_buttonx1:hover{
    color: #9ba9e5;
    background-color: #4056a7;
}

#gacha_buttonx5{
    margin: auto;
    padding: 10px;
    width: 25%;
    background: #c6cff4;
    color: rgb(31, 44, 97);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    color: rgb(27, 58, 87);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold;
    font-family: LoveDays;
    transition: 0.3s ease-in-out;
}

#gacha_buttonx5:hover{
    color: #9ba9e5;
    background-color: #4056a7;
}

#catches {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(31, 44, 97);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
}
.catch_result {
    margin-top: 10px;
}

.catch_image {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
#gacha_button:hover{
    background-color: #bbb;   
}
/* AQUARIUM TAB */
/*#aquarium_box{
    margin-top: -150px;

}

.aquarium_text{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-decoration: none;
    color: rgb(58, 116, 169);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold; 
    font-size: 35px;
    font-family: LoveDays;
}*/


#aquarium-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

#aquarium-background {
    z-index: 0;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#aquarium-fish-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.aquarium-fish {
    position: absolute;
    width: 50px;
    height: auto;
    animation: swim 8s infinite alternate ease-in-out;
    z-index: 2;
}

@keyframes swim {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px);}
}

#intro-aquarium{
    position: relative;
    z-index: 3;
    align-self: flex;
    text-align: center;
   
    
}

h2{
    text-align: center;
    text-decoration: none;
    color: rgb(58, 116, 169);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aliceblue;
    font-weight: bold; 
    font-size: 25px;
    font-family: LoveDays;
    z-index:3
}